<div *ngIf="auth.user2$ | async as user">
  <!--<pre>
    {{user | json}}
  </pre>
  <hr>-->
  <!--<button class="button" (click)="auth.signOut()">Sign Out</button>-->

  <p>
    super-secret works!
  </p>
  <div>
    <button class="button" (click)="getMyJson()">Get list files</button>
  </div>
  {{ dictionary }}
  <div>
    <p>Document</p> 
      {{ (item | async)?.empCode }}
      {{ (item | async)?.fullName }}
      {{ (item | async)?.mobile }}
      {{ (item | async)?.position }}
  </div>
  
  <label for="file">File:</label>
    <input type="file" (change)="getMyJson($event)" accept=".json" />
{{user.email | json}}
</div>

