<h3>create new phrase</h3>

<div>
    <mat-form-field>
        <input matInput placeholder="id" type="number" [(ngModel)]="id" disabled="true">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="RUS phrase" value="" [(ngModel)]="RUS_phrase">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="ENG phrase" value="" [(ngModel)]="ENG_phrase">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="ESP phrase" value="" [(ngModel)]="ESP_phrase">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="unit" type="number" value="0" [(ngModel)]="unit">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="rating" type="number" value="0" [(ngModel)]="rating">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="theme" value="" [(ngModel)]="theme">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="level" value="" [(ngModel)]="level">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="type" value="" [(ngModel)]="type">
    </mat-form-field>
</div>

<a mat-mini-fab [routerLink]="['/phrases']">
    <mat-icon>arrow_back</mat-icon>
</a>
<a mat-mini-fab (click)="addPhrase()">
        <mat-icon>add</mat-icon>
</a>
<a mat-mini-fab (click)="getMaxId()">
    <mat-icon>done</mat-icon>
</a>

<!--<i class="material-icons md-18">face</i>
<i class="material-icons md-18">save</i>-->
<!--<img [src]="assets/images/twotone_save_black_18dp.png">-->