<h1>Base</h1>
<div *ngIf="isLog; else login">
  <button class="button" (click)="logout()">Logout</button>
  <div>
    <a [routerLink]="['/secret']">Secret</a>
    <a [routerLink]="['/phrases']">Phrases</a>
  </div>
</div>

<ng-template #login>
  <input matInput placeholder="Enter email" [(ngModel)]="email"><br>
  <input matInput type="password" placeholder="Enter password" [(ngModel)]="password">
  <button class="button" (click)="auth.emailSignin(email, password)">Login with Email</button>
</ng-template>

<router-outlet></router-outlet>
