<h3>Find phrases</h3>
<div *ngIf="auth.user2$ | async as user; else login">
  <!--<pre>
    {{user | json}}
  </pre>
  <hr>-->
  <!--<button class="button" (click)="auth.signOut()">Sign Out</button>-->
  {{ email }}
  <button class="button" (click)="auth.signOut()">LogOut Email</button>
  <div>
    <a [routerLink]="['/secret']">Secret</a>
    <a [routerLink]="['/phrases']">Phrases</a>
  </div>
  <div class="example-button-row">
    <button mat-mini-fab color="primary" (click)="createPhrase()"><mat-icon>add</mat-icon></button>
    <button mat-mini-fab color="primary" (click)="getListIrrVerbs()"><mat-icon>favorite</mat-icon></button>
    <a mat-mini-fab color="primary" (click)="saveToCloudStore()"><mat-icon>save</mat-icon></a>
  </div>
</div>

<ng-template #login>
  <input matInput placeholder="Enter email" [(ngModel)]="email"><br>
  <input matInput type="password" placeholder="Enter password" [(ngModel)]="password">
  <button class="button" (click)="auth.emailSignin(email, password)">Login with Email</button>
  <!--<button class="button" (click)="auth.googleSignin()">Login with Google</button>-->
</ng-template>

<!--<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item | json}}
  </li>
</ul>-->
<!--<button class="button" (click)="createUser()">Create User</button>-->


<router-outlet></router-outlet>
