table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.example-margin {
  padding-right: 30px;
}

.material-icons.md-18 {
  margin-top: -10px;
  font-size: 14px;
}

.mat-mini-fab {
  width: 24px;
  height: 24px;
}